:root {
  --border-radius: 3px;
  --light-blue: #66D3FA;
  --dark-blue: #2565AE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem 2rem 2rem 2rem;
}

section {
  max-width: 100%;
  overflow-x: auto;
}

section + section {
  margin-top: 1rem;
}

section > * + *:not(hr) {
  margin-top: 1rem;
}

section > *:not(img) {
  position: sticky;
  left: 0;
}

img {
  display: block;
}

button {
  width: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding-block: 0.1rem;
  color: white;
  border: 1px solid var(--dark-blue);
  background-color: var(--dark-blue);
}

button:focus-visible {
  outline: 2px solid var(--dark-blue);
}

input[type=file] {
  border-radius: var(--border-radius);
}

hr {
  color: var(--light-blue);
  margin-top: 0.5rem;
}

p#time-elapsed {
  margin-block: 1rem;
}
